- const footerGroups = {};

mixin displayFooterPageLink(p)
    - const trad = page[p.name]
    - const path = p.path || `/${p.name}.html`
    if (p.disabled)
        a(href=path disabled aria-disabled="true" tabindex="-1" title="Coming soon")= trad.name
    else
        a(href=path)= trad.name

mixin displayFooterPageGroup(group, pages)
    - var disabled = pages.filter(p => !p.disabled).length==0
    if (disabled)
        section
            h3= group.name
            each page in pages
                +displayFooterPageLink(page)
    else
        section
            h3= group.name
            each page in pages
                +displayFooterPageLink(page)

mixin displayFooterElement(element)
    - var pages = footerGroups[element]
    +displayFooterPageGroup(pageGroup[element], pages)

footer.invert-colors
    //- section
    //-     h2 So, we're going up together?
    //-     p focus on what you love about developing, and forget about the painful tasks


    a(href="/") Lenra
    nav
        section#financed-by
            h3 Project financed by
            a(href="https://www.nouvelle-aquitaine.fr" target="_blank" rel="noopener")
                img(src="img/partners/NouvelleAquitaine-vertical.svg" alt="Nouvelle Aquitaine" loading="lazy")
            a(href="https://www.bpifrance.fr" target="_blank" rel="noopener")
                img(src="img/partners/bpi.svg" alt="Bpifrance" loading="lazy")
        section
            h3 Developpers
            //- a(href="https://app.lenra.io") app.lenra.io
            a(href="https://dev.lenra.io" target="_blank") Dev platform
            a(href="https://docs.lenra.io" target="_blank") Documentation

        - const footerItems = pageList.filter(p => p.group).flatMap(p => {
        -    if (!footerGroups[p.group]) {
        -        footerGroups[p.group] = [p];
        -        return p.group;
        -    }
        -    else {
        -        footerGroups[p.group].push(p);
        -        return [];
        -    }
        - });

        each el in footerItems
            +displayFooterElement(el)

    ul
        li Follow us
            include .social.pug
        li For developers
            include .social-dev.pug

    a(href="https://www.producthunt.com/posts/lenra-beta?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-lenra&#0045;beta" target="_blank" rel="noopener")
        img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=374563&theme=light" alt="Lenra - beta - Optimize your app creation | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54")
