- const footerGroups = {};

mixin displayFooterPageLink(p)
    - const trad = page[p.name]
    - const path = p.path || `/${p.name}.html`
    if (p.disabled)
        a(href=path disabled aria-disabled="true" tabindex="-1" title="Coming soon")= trad.name
    else 
        a(href=path)= trad.name

mixin displayFooterPageGroup(group, pages)
    - var disabled = pages.filter(p => !p.disabled).length==0
    if (disabled)
        section
            h3= group.name
            each page in pages
                +displayFooterPageLink(page)
    else
        section
            h3= group.name
            each page in pages
                +displayFooterPageLink(page)

mixin displayFooterElement(element)
    - var pages = footerGroups[element]
    +displayFooterPageGroup(pageGroup[element], pages)

footer.invert-colors
    //- section 
    //-     h2 So, we're going up together?
    //-     p focus on what you love about developing, and forget about the painful tasks 

    nav
        h2
            a(href="/") Lenra
        section
            h3 Developpers
            //- a(href="https://app.lenra.io") app.lenra.io
            a(href="https://dev.lenra.io") Dev platform
            a(href="https://docs.lenra.io") Documentation
        
        - const footerItems = pages.filter(p => p.group).flatMap(p => {
        -    if (!footerGroups[p.group]) {
        -        footerGroups[p.group] = [p];
        -        return p.group;
        -    }
        -    else {
        -        footerGroups[p.group].push(p);
        -        return [];
        -    }
        - });

        each el in footerItems
            +displayFooterElement(el)

    ul 
        li Follow us
            include .social.pug
        li For developers
            include .social-dev.pug
