include .social.pug

doctype html
html(lang=language)
  head
    title= t(`translation:page.${currentPage.basicPath}.title`, {context: "tag"})
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content=t(`translation:page.${currentPage.basicPath}.title`, {context: "tag"}))
    meta(property="og:title" content=t(`translation:page.${currentPage.basicPath}.title`, {context: "og"}))
    meta(property="og:type" content="website")
    meta(property="og:url" content="!CURRENT_URL!")
    //- meta(property="og:image" content="!IMAGE_URL!")
    meta(property="og:description" content=t(`translation:page.${currentPage.basicPath}.title`, {context: "og"}))
    meta(property="og:locale" content=language)
    - let otherLanguages = languages.filter(l => l != language);
    each l in otherLanguages
      meta(property="og:locale:alternate" content=l)
    link(rel="icon" type="image/png" href="favicon.png")
    link(rel="apple-touch-icon" href="img/appicon.png")
    link(rel='stylesheet' as='style' type='text/css' href='/css/main.css' media='print' onload='this.media="all"')
    - cssPath = currentPage.basicPath + ".css";
    - cssExists = fileExists('src/static/css/' + currentPage.basicPath + ".css");
    - langCssExists = fileExists('src/static/css/' + currentPage.basicPath + "." + language + ".css");
    if (cssExists)
      link(rel='stylesheet' as='style' type='text/css' href='/css/' + currentPage.basicPath + '.css' media='print' onload='this.media="all"')
    if (langCssExists)
      link(rel='stylesheet' as='style' type='text/css' href='/css/' + currentPage.basicPath + "." + language + '.css' media='print' onload='this.media="all"')
    noscript 
      link(rel='stylesheet' as='style' type='text/css' href='/css/main.css')
      if (cssExists)
        link(rel='stylesheet' as='style' type='text/css' href='/css/' + currentPage.basicPath + '.css')
      if (langCssExists)
        link(rel='stylesheet' as='style' type='text/css' href='/css/' + currentPage.basicPath + "." + language + '.css')
    script(src='/js/main.js' defer)
    script(src="https://analytics.lenra.io/js/plausible.js" data-domain="!DOMAIN!" defer)

  body
    include .header.pug
    main
      block content
    include .footer.pug
    include .cookies.pug