doctype html
html(lang=language)
  head
    - var pageTitle = currentPage.titleTag ? currentPage.titleTag : `${title} - ${currentPage.title}`
    title= pageTitle
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content=currentPage.description)
    meta(property="og:title" content=pageTitle)
    meta(property="og:type" content="website")
    meta(property="og:url" content="!CURRENT_URL!")
    //- meta(property="og:image" content="!IMAGE_URL!")
    meta(property="og:image" content="https://www.lenra.io/img/appicon.png")
    meta(property="og:description" content=currentPage.description)
    meta(property="og:locale" content=language) 
    each l in otherLanguages
      meta(property="og:locale:alternate" content=l)

    meta(name="twitter:card" content='summary')
    meta(property="twitter:description" content=currentPage.description)
    meta(property="twitter:image" content="https://www.lenra.io/img/appicon.png")

    link(rel="icon" type="image/png" href="favicon.png")
    link(rel="apple-touch-icon" href="img/appicon.png")
    link(rel='stylesheet' as='style' type='text/css' href='css/main.css' media='print' onload='this.media="all"')
    link(rel='stylesheet' as='style' type='text/css' href='css/' + currentPage.path + '.css' media='print' onload='this.media="all"')
    noscript 
      link(rel='stylesheet' as='style' type='text/css' href='css/main.css')
      link(rel='stylesheet' as='style' type='text/css' href='css/' + currentPage.path + '.css')
    script(src='js/main.js' defer)
    script(src="https://plausible.io/js/plausible.js" data-domain="!DOMAIN!" defer)

  body
    include .header.pug
    main
      block content
    include .footer.pug