extends .layout.pug
block header 
    h1=currentPage.title
    figure 
        img(src="img/undraw/undraw_team_spirit.svg" alt="Team composition")
    h2 Our team
    p 3 permanent contracts and 3 apprentices on the development of the Lenra platform
    p 2 permanent employees on commercial development, marketing and communication
    p 3 permanent contracts on customer services that guarantee the activity of the company Lenra
block content
    section#slider 

        input(
            type='radio'
            name='slider'
            id='s1'
            checked
        )
        input(
            type='radio'
            name='slider'
            id='s2'
        )
        input(
            type='radio'
            name='slider'
            id='s3'
        )
        input(
            type='radio'
            name='slider'
            id='s4'
        )
        input(
            type='radio'
            name='slider'
            id='s5'
        )
        input(
            type='radio'
            name='slider'
            id='s6'
        )
        input(
            type='radio'
            name='slider'
            id='s7'
        )
        input(
            type='radio'
            name='slider'
            id='s8'
        )
        input(
            type='radio'
            name='slider'
            id='s9'
        )
        input(
            type='radio'
            name='slider'
            id='s10'
        )

        label(
            for='s1'
            id='slide1'
        ) 1
        label(
            for='s2'
            id='slide2'
        ) 2
        label(
            for='s3'
            id='slide3'
        ) 3
        label(
            for='s4'
            id='slide4'
        ) 4
        label(
            for='s5'
            id='slide5'
        ) 5
        label(
            for='s6'
            id='slide6'
        ) 6
        label(
            for='s7'
            id='slide7'
        ) 7
        label(
            for='s8'
            id='slide8'
        ) 8
        label(
            for='s9'
            id='slide9'
        ) 9
        label(
            for='s10'
            id='slide10'
        ) 10