extends .layout.pug
block header 
    h1=currentPage.title
    figure 
        img(src="img/undraw/undraw_team_spirit.svg" alt="Team composition")
    h2 Our team
    p 3 permanent contracts and 3 apprentices on the development of the Lenra platform
    p 2 permanent employees on commercial development, marketing and communication
    p 3 permanent contracts on customer services that guarantee the activity of the company Lenra
block content
    input(
        type='radio'
        name='slider'
        id='s1'
        checked
    )
    input(
        type='radio'
        name='slider'
        id='s2'
    )
    input(
        type='radio'
        name='slider'
        id='s3'
    )
    input(
        type='radio'
        name='slider'
        id='s4'
    )
    input(
        type='radio'
        name='slider'
        id='s5'
    )
    input(
        type='radio'
        name='slider'
        id='s6'
    )
    input(
        type='radio'
        name='slider'
        id='s7'
    )
    input(
        type='radio'
        name='slider'
        id='s8'
    )
    input(
        type='radio'
        name='slider'
        id='s9'
    )
    input(
        type='radio'
        name='slider'
        id='s10'
    )
    ul#slider 
        li#slide1
            label(for='s1')
                img(src="../img/team/thomas.jpeg" alt="Thomas Da Rocha")
                nav.social 
                    a.lenra-icon-github(href="https://github.com/taorepoara" target="_blank" rel="noopener")
                    a.lenra-icon-linkedin(href="https://www.linkedin.com/in/thomas-da-rocha-57211170/" target="_blank" rel="noopener")
                h3 Thomas Da Rocha
            p Thomas Da Rocha is the CEO  of the company.  He is the head of the project. He works on both the frontend and backend and decides the direction to take for each progress made on the application.

        li#slide2
            label(for='s2') 
                img(src="../img/team/louis.JPG" alt="Louis Guilbert")
                nav.social 
                    a.lenra-icon-github(href="https://github.com/Nesqwik" target="_blank" rel="noopener")
                h3 Louis Guilbert
            p Louis Guilbert joined in March 2020. He is a full stack developer who does both frontend and backend and also has  a global view on  the project that gives him agility to intervene on any blocking problem. 

        li#slide3
            label(for='s3') 
                img(src="../img/team/alienor.JPG" alt="Aliénor Malbosc")
                nav.social 
                    a.lenra-icon-linkedin(href="https://www.linkedin.com/in/aliénor-malbosc-b03609220/" target="_blank" rel="noopener")
                h3 Aliénor Malbosc
            p Aliénor Malbosc is the Community Manager, she takes care of the digital communication strategy, she manages our social networks.

        li#slide4
            label(for='s4') 
                img(src="../img/team/jonas.JPG" alt="Jonas Martinez")
                nav.social 
                    a.lenra-icon-github(href="https://github.com/jonas-martinez" target="_blank" rel="noopener")
                h3 Jonas Martinez
            p Jonas Martinez is a former student of the company who is now in permanent employment and is in charge of the frontend and more precisely of the present and future functionalities of the application for the moment. He’s an expert in Flutter and Dart technologies.

        li#slide5
            label(for='s5') 
                img(src="../img/team/thibault.JPG" alt="Thibault Cauche") 
                nav.social  
                    a.lenra-icon-github(href="https://github.com/Thibault5" target="_blank" rel="noopener")
                h3 Thibault Cauche
            p Thibault Cauche is a student who arrived this year and is studying in Bachelor 3 in Limoges. He is in charge of the visual part of the company's presentation site and of the documentation.

        li#slide6
            label(for='s6')  
                img(src="../img/team/LEN.jpeg" alt="Len")
                h3 Len
            p Len Racoon, our ‘rubber duck’ debugger. He was born in november 2021, from Thomas’ creative mind. The super Budsies company made him come true. He now helps us daily to debug code, understand and solve problems, as his cute and peaceful face tells us ‘be confident, explain it all to me, you’re gonna find an answer’.... For those who wonder about my relevance as part of the team, check this

        li#slide7
            label(for='s7') 
                img(src="../img/team/clement.jpeg" alt="Clement Guillaud")
                nav.social 
                    a.lenra-icon-github(href="https://github.com/ClementGld" target="_blank" rel="noopener")
                h3 Clement Guillaud
            p Clément Guillaud is a student who arrived this year and is studying in Bachelor 3 in La Rochelle. He works closely with Jonas Martinez on the frontend and the different features of the application.

        li#slide8
            label(for='s8') 
                img(src="../img/team/emric.JPG" alt="Emric Pichonier")
                nav.social 
                    a.lenra-icon-github(href="https://github.com/pichoemr" target="_blank" rel="noopener")
                h3 Emric Pichonier
            p Emric Pichonnier is a student at the end of his year at the university, he specializes in the backend part of IT and data management.

        li#slide9
            label(for='s9') 
                img(src="../img/team/nathalie.png" alt="Nathalie Pestel")
                nav.social 
                    a.lenra-icon-linkedin(href="https://www.linkedin.com/in/nathalie-pestel-a093a9104/" target="_blank" rel="noopener")
                h3 Nathalie Pestel
            p Nathalie Pestel arrived just  after Thomas Da Rocha. She is the CMO of the company, she takes care of the accounting as well.
        li#slide10
            label(for='s10') 
                img(src="../img/team/flavien.JPG" alt="Flavien Cadet")
                nav.social
                    a.lenra-icon-github(href="https://github.com/shiipou" target="_blank" rel="noopener")
                h3 Flavien Cadet
            p Flavien Cadet joined the company in 2018 as a work-study student while he was finishing his Master 1 and Master 2. Then he became an employee in early 2020. He is mainly in charge of the backend part but has a lot of knowledge that allows him to visualize the whole project and help Thomas Da Rocha to make decisions as best as he can. He is the SecOp Dev on the project. 

    section.invert-colors 
        h2 Join us!
        p Join our team today and begin an journey that won't end soon
        a.btn.primary(href="started.html") Join our team