section#difference
    h2(data-title="La différence")
        | Pourquoi
        |
        strong nous
        |
        | ?

    section#lenra
        h3(data-title="Avec nous")
            strong Lenra
            | , je peux
        each field in competitorsFields
            p=t(`field.${field}`, {ns: "comparator"})
                +managed("yes")

    each competitor in competitors
        section
            h3(data-title="Avec eux")
                strong=competitor.name
                | , je peux
            each field in competitorsFields
                p=t(`field.${field}`, {ns: "comparator"})
                    |
                    +managed(competitor[field])
